argcomplete==3.2.3
certifi==2024.2.2
contourpy==1.2.0
cycler==0.12.1
fonttools==4.49.0
greenlet==2.0.1
HTSeq==2.0.5
kiwisolver==1.4.5
matplotlib==3.8.3
msgpack==1.0.4
munkres==1.1.4
numpy==1.26.4
packaging==24.0
pandas==2.2.1
Pillow==10.0.1
pip==24.0
pynvim==0.4.3
pyparsing==3.1.2
pysam==0.22.1
python-dateutil==2.9.0
pytz==2024.1
PyYAML==6.0.1
scipy==1.12.0
setuptools==69.1.1
six==1.16.0
toml==0.10.2
tomlkit==0.12.4
tzdata==2024.1
unicodedata2==15.1.0
wheel==0.42.0
xmltodict==0.13.0
yq==3.2.3
